**#Answer 1#**

In [55]:
# Example employee records
employee_1 = (101, "Maaz", "Finance")
employee_2 = (102, "Hassan", "Engineering")
employee_3 = (103, "Affan", "Marketing")

# List of employee records
employee_records = [employee_1, employee_2, employee_3]

# Example: Accessing an employee record
for employee in employee_records:
    print(f"ID: {employee[0]}, Name: {employee[1]}, Department: {employee[2]}")

ID: 101, Name: Maaz, Department: Finance
ID: 102, Name: Hassan, Department: Engineering
ID: 103, Name: Affan, Department: Marketing

**#Answer 2#**

In [50]:
# Example inventory items
item_1 = (201, "Laptop", 10)
item_2 = (202, "Monitor", 15)
item_3 = (203, "Keyboard", 25)

# List of inventory items
inventory = [item_1, item_2, item_3]

# Example: Accessing an inventory item
for item in inventory:
    print(f"Item ID: {item[0]}, Description: {item[1]}, Quantity: {item[2]}")

Item ID: 201, Description: Laptop, Quantity: 10
Item ID: 202, Description: Monitor, Quantity: 15
Item ID: 203, Description: Keyboard, Quantity: 25

**#Answer 3#**

In [53]:
# Example scheduled events
meeting_1 = ("2024-08-16", "10:00 AM")
appointment_1 = ("2024-08-17", "02:00 PM")
meeting_2 = ("2024-08-18", "11:00 AM")

# List of events
events = [meeting_1, appointment_1, meeting_2]

# Example: Accessing event details
for event in events:
    print(f"Date: {event[0]}, Time: {event[1]}")

Date: 2024-08-16, Time: 10:00 AM
Date: 2024-08-17, Time: 02:00 PM
Date: 2024-08-18, Time: 11:00 AM

**#Answer 4#**

In [ ]:
# Example employee details organized by department
company_employees = {
    "Finance": {
        101: "Waris",
        104: "Shabi"
    },
    "Engineering": {
        102: "Hamid",
        105: "Faris"
    },
    "Marketing": {
        103: "Laiba",
        106: "Sarah"
    }
}
for dept, employees in company_employees.items():
    print(f"Department: {dept}")
    for emp_id, name in employees.items():
        print(f"  ID: {emp_id}, Name: {name}")

**#Answer 5#**

In [74]:
# Example student scores
students_scores = [
    {"Amir": {"Math": 85, "Science": 90, "History": 88}},
    {"Afia": {"Math": 92, "Science": 89, "History": 84}},
    {"Aqsa": {"Math": 78, "Science": 95, "History": 80}},
]

# Example: Retrieving a student's scores
for student in students_scores:
    for name, scores in student.items():
        print(f"Student: {name}")
        for subject, score in scores.items():
            print(f"  Subject: {subject}, Score: {score}")

Student: Amir
  Subject: Math, Score: 85
  Subject: Science, Score: 90
  Subject: History, Score: 88
Student: Afia
  Subject: Math, Score: 92
  Subject: Science, Score: 89
  Subject: History, Score: 84
Student: Aqsa
  Subject: Math, Score: 78
  Subject: Science, Score: 95
  Subject: History, Score: 80

**#Answer 6#**

In [77]:
# Example projects and tasks
projects = {
    "Project Alpha": ["Task 1: Define scope", "Task 2: Gather requirements"],
    "Project Beta": ["Task 1: Design architecture", "Task 2: Develop prototype"],
}

# Example: Retrieving tasks for a specific project
for project, tasks in projects.items():
    print(f"Project: {project}")
    for task in tasks:
        print(f"  {task}")

Project: Project Alpha
  Task 1: Define scope
  Task 2: Gather requirements
Project: Project Beta
  Task 1: Design architecture
  Task 2: Develop prototype

**#Answer 7#**

In [84]:
# Example courses and modules
courses = {
    "Python Programming": {
        "Module 1": "Introduction to Python",
        "Module 2": "Advanced Python Concepts",
    },
    "Data Science": {
        "Module 1": "Introduction to Data Science",
        "Module 2": "Machine Learning Basics",
    }
}

# Example: Retrieving details of a specific module
for course, modules in courses.items():
    print(f"Course: {course}")
    for module, details in modules.items():
        print(f"  {module}: {details}")

Course: Python Programming
  Module 1: Introduction to Python
  Module 2: Advanced Python Concepts
Course: Data Science
  Module 1: Introduction to Data Science
  Module 2: Machine Learning Basics

**#Answer 8#**

In [87]:
# Example product list with prices
products = [
    ("Laptop", 1000),
    ("Monitor", 150),
    ("Keyboard", 50),
    ("Mouse", 25)
]

# Define a price threshold
price_threshold = 100

# Finding products below the threshold
affordable_products = [product for product, price in products if price < price_threshold]

print("Products below the price threshold:")
for product in affordable_products:
    print(product)

Products below the price threshold:
Keyboard
Mouse